export HOST_ADDR   = ":3000"
export DB_HOST     = "localhost"
export DB_PORT     = "5432"
export DB_USER     = "username"
export DB_PASSWORD = "password"
export DB_NAME     = "database_name"
export DB_SSLMODE  = "disable"
export API_SECRET=your_jwt_secret_token_here
export TOKEN_HOUR_LIFESPAN=1