{{template "header.html" . }}

{{if .Unauthorized}}
<p>
  <span style='font-size:18px;color:red'>&#9888;</span>
  {{.Unauthorized}}
  <span style='font-size:18px;color:red'>&#9888;</span>
  <br>
  You are not authorized to view this page. Please log in and try again.
</p>
{{else}}
<p>
  The page you are looking for does not exist. Please check the URL and try again.
</p>
{{end}}

<script>
  setMenu([
    { text: 'Home', url: '/' },
    { text: 'Sign Up', url: '/signup' },
    { text: 'Log In', url: '/login' }
  ]);
</script>

{{template "footer.html"}}