{{ template "header.html" . }}
<h1 class="title">
	Golang Web App Template
</h1>
<p>
	This is a template for the main app. This is not a protected route. You can access this page without being logged in.
</p>
<script>
	const isAuthenticated = localStorage.getItem('token') !== null;

	let menuItems = [];

	if (isAuthenticated) {
		menuItems.push({ text: 'Dashboard', url: '/user/dashboard' });
	} else {
		menuItems.push({ text: 'Login', url: '/login' });
		menuItems.push({ text: 'Sign Up', url: '/signup' });
	}

	// Set menu items
	setMenu(menuItems);
</script>
{{template "footer.html"}}