/* General Style */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

/* Header Style */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px 10px 22px 10px;
  background-color: #888;
  color: white;
}

#logo {
  height: 35px;
  position: fixed;
  left: 20px;
  top: 5px;
}

#menu {
  position: fixed;
  right: 20px;
  top: 5px;
}

/* Footer Style */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  background: #888;
  color: white;
  padding: 10px 0 0 100px;
  font-size: 14px;
}

/* Button Styles */
button {
  border-radius: 0px;
  background-color: black;
  transition: all 0.4s ease;
  border: 1px solid black;
  cursor: pointer;
}

button.menu {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button.menu:hover {
  background-color: white;
  color: black;
}

button.warning {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button.warning:hover {
  background-color: rgb(202, 98, 98);
  color: black;
}

button[type=submit] {
  margin-top: 20px;
  background-color: rgb(49, 47, 47);
  color: white;
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

button[type=submit]:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Container Style */
.container {
  padding-top: 15px;
  margin-top: 40px;
  background-color: #f1f1f1;
  color: black;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.container .box {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 3rem;
}

/* Form & Input Style */
form {
  width: 400px;
  max-width: 400px;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 3rem;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 60%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

input[type=text], input[type=password] {
  width: 200px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 60%);
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  form {
    width: 90%;
    max-width: none;
    box-sizing: content-box;
  }
  
  input[type=text], input[type=password] {
    width: 190px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 60%);
    margin-bottom: 5px;
  }

  #footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background: #888;
    color: white;
    padding: 10px 0 0 20px;
    font-size: 14px;
  }
}
