/* General Style */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

/* Header Style */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px 10px 22px 10px;
  color: white;
  background-color: #f1f1f1;
}

#logo {
  height: 35px;
  position: fixed;
  left: 20px;
  top: 5px;
}

#menu {
  position: fixed;
  right: 20px;
  top: 15px;
}

/* Footer Style */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  background-color: #f1f1f1;
  color: black;
  padding: 10px 0 0 100px;
  font-size: 14px;
}

/* Button Styles */
button {
  border-radius: 0px;
  background-color: black;
  transition: all 0.4s ease;
  border: 1px solid black;
  cursor: pointer;
}

button.menu {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button.menu:hover {
  background-color: white;
  color: black;
}

button.warning {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button.warning:hover {
  background-color: rgb(202, 98, 98);
  color: black;
}

button[type=submit] {
  margin-top: 20px;
  background-color: rgb(49, 47, 47);
  color: white;
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

button[type=submit]:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Container Style */
.container {
  padding-top: 15px;
  margin-top: 40px;
  background-color: #f1f1f1;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.container .box {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 3rem;
}

/* Form & Input Style */
form {
  width: 400px;
  max-width: 400px;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 3rem;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 60%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

input[type=text],
input[type=password] {
  width: 200px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 60%);
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  form {
    width: 90%;
    max-width: none;
    box-sizing: content-box;
  }

  input[type=text],
  input[type=password] {
    width: 190px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 60%);
    margin-bottom: 5px;
  }

  #footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background-color: #f1f1f1;
    color: black;
    padding: 10px 0 0 20px;
    font-size: 14px;
  }
}

/* Dropdown Button */
.dropbtn {
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  right: 20px;
  top: 5px;
}

/* Style the arrow */
.dropdown-arrow {
  color: black;
  font-size: 12px;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Profile Picture */
.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}