{{define "header.html"}}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
	<script type="text/javascript" src="/assets/menu.js"></script>
	<title>Deep Focus App</title>
</head>

<body>
	<div class="header">
		<div id="logo"><a href="/"><img src="/assets/header.png" height="80" /></a></div>
		<div id="menu">
			<!-- TODO:
							Find a way to show login and signup button when user isn't authenticate
							and show logout and app button when user is authenticated
			-->
			<button class="menubouton" onclick='setmenu("/login")'>Login</button>
			<button class="menubouton" onclick='setmenu("/signup")'>Sign Up</button>
			<button class="menubouton" onclick='setmenu("/api/admin/app")'>App</button>
			<!-- <button class="menubouton" onclick='setmenu("/logout")'>Log Out</button> -->
		</div>
	</div>
	<div class="container">
		{{end}}