{{template "header.html"}}
<h1 class="title">
	Deep Focus App
</h1>
<p>{{ .content }}</p>
<p id=describe>
	Deep Focus is a web application that helps you focus on your work.
	With this app, you can set goals for your deep work sessions.
	You can set a timer for how long you want to work and for how long you want to take a break,
	and Deep Focus will set a timer for those times. You can also view your work history to see
	how much time you've spent working and how much time you've spent taking breaks.
	The app also has a system of streaks to help you stay motivated. Keep up your streaks by working
	on your goals every day.
	Deep Focus is a great tool for students, professionals, and anyone who wants to be more productive.
</p>
<p>
	Deep Focus is a project by Warrior-Toro CSUDH students.
</p>
{{template "footer.html"}}