name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
    
    - name: Check for vetting errors
      run: make vet

    - name: Check for formatting errors
      run: make fmt

    - name: Test
      run: make test

    - name: Update dependencies and build
      run: make build